@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

.title {
  font-family: "Roboto", sans-serif;
}

.login-button {
  font-family: "Roboto", sans-serif;
  background-color: rgb(46, 211, 46);
  color: white;
  padding: 1rem;
  border-radius: 20px;
}
