@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

.html {
  background: black;
}

.app {
  border-radius: 30px;
  margin-top: 0;
  position: absolute;
  width: 100vw;
  margin: 0vw;
  background: rgb(229, 250, 229);
}

.title {
  font-family: "Roboto", sans-serif;
  margin-left: 15vw;
  text-decoration: underline;
  cursor: pointer;
  color: rgb(46, 211, 46);
}

.login-page {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
}

.login-button {
  font-family: "Roboto", sans-serif;
  background-color: rgb(46, 211, 46);
  color: white;
  padding: 1rem;
  margin: 2rem;
  border-radius: 15px;
}

.search-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background: rgb(197, 238, 193);
  border-radius: 30px;
}

.search-bar {
  width: 50vw;
  background: white;
}

.album-art {
  height: 100px;
  width: 100px;
}

.search-results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.search-result {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(226, 226, 226);
  width: 15vw;
  height: 20vh;
  border-radius: 10px;
  margin: 30px;
  padding: 30px;
  cursor: pointer;
  align-items: center;
  background: rgb(218, 255, 218);
}

.buttons {
  margin-bottom: 1vh;
  display: flex;
  justify-content: center;
}

.bottom {
  position: fixed;
  left: 5vw;
  right: 5vw;
  bottom: 0;
}

.lyric-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15vw;
}

.lyrics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50vw;
}

.dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.artist-name {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.song-title {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.playlist-list {
  margin-bottom: 10vh;
  margin-top: -17vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background: rgb(186, 255, 186);
  border-radius: 30px;
}

.playlist {
  font-family: "Roboto", sans-serif;
  height: 250px;
  width: 200px;
  border: 1px solid rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  margin: 20px;
  cursor: pointer;
  background-color: rgb(229, 250, 229);
}

.playlist-image {
  height: 100px;
  width: 100px;
}

.playlist-form {
  margin-top: -10vh;
  display: flex;
  justify-content: center;
}
.edit-playlist-form {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
}

.playlist-bar {
  width: 30vw;
}

.playlist-title {
  height: 10px;
  margin-top: -20px;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-around;
}

.playlist-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  margin-top: -7vh;
}

.description-bar {
  width: 40vw;
}

.playlist-id {
  display: none;
}

.publicity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.5rem;
  margin-right: -0.5rem;
  font-family: "Roboto", sans-serif;
}

.selected-playlist {
  font-size: 10px;
  width: 15vw;
  margin: auto;
  margin-bottom: 3px;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  background-color: rgb(172, 226, 172);
  color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgb(44, 116, 66);
  cursor: pointer;
}

.show-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
  background: rgb(172, 226, 172);
  border-radius: 30px;
}

.show-item {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(226, 226, 226);
  width: 150px;
  height: 250px;
  border-radius: 10px;
  margin: 3px;
  padding: 2px;
  cursor: pointer;
  align-items: center;
}
